* {box-sizing:border-box}

body {
  background-color: #e3e3e3;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px 10px;
  text-align: center;
}

hr {
  border: 1px solid #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Navbar hover color change */
li a:hover {
  background-color: #111;
}

h1 {
  text-align: center;
  color: #333;
  padding-top: 50px;
}

p {
  text-align: center;
  color: #333;
  padding-top: 250px;
}

.leftimg {
  padding-right: 500px;
  text-align: center;
}

.rightimg {
  padding-left: 500px;
  text-align: center;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  padding: 50px auto 50px auto;
  text-align: left;
  width:90%;
}

.rightimgalt {
  float: right;
  padding-left: 30px;
  width: 50%;
}

.leftimgalt {
  float: left;
  padding-right: 30px;
  width: 50%;
}

.introp {
  padding: 5px 10%;
}

.topblurb {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #333;
}

/* Slideshow container */
.slideshow-container {
  padding-top: 10px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
  text-align: center;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: 150px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* forward button to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/* arrow hover indicator */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

.picstextleft {
  color: #333;
  font-size: 16px;
  padding: 15px 40px;
  bottom: 0px;
  width: 50%;
  text-align: left;
}

/* captions */
.captions {
  color: #e3e3e3;
  background-color: #333;
  font-size: 16px;
  padding: 15px 40px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* numbering for images */
.imagenum {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

.imgwidth {
    width: 50%;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}